# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database & Secrets
data/
*.db
*.key
settings.json
*.log

# Environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
.agents/
.gemini/
.git/
